<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{staticThemePath}}/libs/layui/css/layui.css">
    <link rel="stylesheet" href="{{staticThemePath}}/css/style.css">

</head>


<body class="is-preload {{body_class}}">

    <!-- Nav -->
    {% include "./public/header.html" %}

    <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
    {% block content %}{% endblock %}

    <!-- The footer at the very bottom of the screen -->

    {% include "./public/footer.html" %}


    <script src="{{staticThemePath}}/libs/avalon.min.js"></script>
    <script src="{{staticThemePath}}/libs/layui/layui.js"></script>
    <script src="{{staticThemePath}}/js/dora.front.js"></script>
    <script src="{{staticThemePath}}/js/main.js"></script>



</body>

</html>