{% extends "./default.html" %}
{% block content %}
{% import "./public/adsPannel.html" as adsPannel %}
<div class="layui-container">
    <div class="layui-row layui-col-space15 main">
        <div class="map">
            <span class="layui-breadcrumb">
                <a href="/">首页</a>
                {% if pageType != 'search' and pageType != 'tag' %}
                <a href="{{cateInfo.url}}"><cite>{{list_title}}</cite></a>
                {% else %}
                <a><cite>{{list_title}}</cite></a>
                {% endif %}
            </span>
        </div>
        <div class="layui-col-md9 layui-col-lg9">
            {% include './public/itemListTemp.html' %}
        </div>
        {% include './public/sidebar.html' %}
    </div>
</div>
{% endblock %}