{% extends "../default.html" %}
{% import "../public/adsPannel.html" as adsPannel %}
{% block content %}
<style>
    .about {
        background: #fff;
        padding: 15px;
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        display: block;
        margin: 10px auto;
        box-shadow: 0 0 10px #eee;
        border: solid 1px #eee;
    }

    .nickname {
        text-align: center;
        font-size: 16px;
    }

    .job {
        text-align: center;
        font-size: 14px;
        color: #888;
    }
</style>

<div class="layui-container">
    <div class="layui-row layui-col-space15 main">
        <div class="layui-col-md9 layui-col-lg9">
            <div class="about">
                <img class="avatar" src="{{staticThemePath}}/img/avatar.png">
                <div class="nickname">换个头像心好累</div>
                <div class="job">前端工程师</div>
            </div>
        </div>
        {% include '../public/sidebar.html' %}
    </div>
</div>
{% endblock %}