<div class="layui-header header">
  <div class="layui-main">
    <a class="logo" href="/">
      <img src="{{site.configs.siteLogo}}" alt="{{site.configs.siteName}}" />
    </a>
    <ul class="layui-nav">
      <li class="layui-nav-item layui-hide-xs"><a href="/">网站首页</a></li>
      {% navtree 'default' %}
      {% for cate in navtree %}
      {% if cate.children and cate.children.length>0 and cate.type == '1'%}
      <li class="layui-nav-item layui-hide-xs"><a href="{{cate.url}}">{{cate.name}}</a>
        <ul class="submenu">
          {% for sonNav in cate.children %}
          <li><a href="{{sonNav.url}}">{{sonNav.name}}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="layui-nav-item layui-hide-xs"><a href="{{cate.url}}">{{cate.name}}</a></li>
      {% endif %}
      {% endfor %}

      <li class="layui-nav-item nav-btn layui-hide-sm">
        <a href="javascript:;"><i class='layui-icon layui-icon-more'></i></a>
        <dl class="layui-nav-child">
          {% for cate in navigation %}
          {% if cate.parentId == '0' %}
          {% if cateInfo._id == cate._id %}
          {% set navClass = 'layui-this'%}
          {% else %}
          {% set navClass = ''%}
          {% endif %}
          <dd>
            <a href="{{cate.name}}" title="{{cate.name}}">{{cate.url}}</a>
          </dd>
          {% endif %}
          {% endfor %}
        </dl>
      </li>
    </ul>
  </div>
</div>